<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcBook.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <!--font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MvcBook</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link nav-colors" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown show large-dropdown">
                                <a class="nav-link dropdown-toggle nav-colors" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Books" asp-action="Index">Books</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <div class="container-dropdown">

                                        <a class="dropdown-item book-headers" asp-controller="Books" asp-action="Index" asp-route-g="Fiction"><b>Fiction</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Action & Adventure"><b>Action & Adventure</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Classics"><b>Classics</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Crime & Thriller"><b>Crime & Thriller</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Graphic Novels & Manga"><b>Graphic Novels & Manga</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Hisotrical Fiction"><b>Hisotrical Fiction</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Horror"><b>Horror</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Philosophy"><b>Philosophy</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Poetry"><b>Poetry</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Romance"><b>Romance</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Sci-Fi"><b>Sci-Fi</b></a>
                                        <a class="dropdown-item book-headers" asp-controller="Books" asp-action="Index" asp-route-g="Non-Fiction"><b>Non-Fiction</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Art, Fashion & Photography"><b>Art, Fashion & Photography</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Biography"><b>Biography</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Business, Finance & Law"><b>Business, Finance & Law</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Computing & It"><b>Computing & It</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Food & Drink"><b>Food & Drink</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="History"><b>History</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Languages"><b>Languages</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Health, Wellbeing & Self-Help"><b>Health, Wellbeing & Self-Help</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Politics, Society & Culture"><b>Politics, Society & Culture</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Science, Technology & Medicine"><b>Science, Technology & Medicine</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Spirituality & Religion"><b>Spirituality & Religion</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Travel"><b>Travel</b></a>
                                        <a class="dropdown-item book-headers" asp-controller="Books" asp-action="Index" asp-route-g="Children's Books"><b>Children's Books</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Baby & Pre-school"><b>Baby & Pre-school</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Ages 5-8"><b>Ages 5-8</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Ages 9-12"><b>Ages 9-12</b></a>
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index" asp-route-g="Teens & Young Adults"><b>Teens & Young Adults</b></a>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-colors" asp-area="" asp-controller="ShoppingCart" asp-action="Index" asp-route-id="">Cart</a>
                        </li>

                        <li>
                            @{
                                await Html.RenderPartialAsync("_LoginPartial", "Identity");
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer-flex">
            <div>
                <a>&copy; 2023 - MvcBook</a>
            </div>
            <div>
                <a href="https://www.facebook.com" class="fab fa-facebook-square fa-2x social-media-icons"></a>

                <a href="https://www.twitter.com" class="fab fa-twitter-square fa-2x social-media-icons"></a>

                <a href="https://www.instagram.com" class="fab fa-instagram-square fa-2x social-media-icons"></a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
