<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcBook.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MVCBOOK</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link nav-colors" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown show large-dropdown">
                                <a class="nav-link dropdown-toggle nav-colors" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Books" asp-action="Index">BOOKS</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <div class="container-dropdown">
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index">All</a>
                                        <p class="dropdown-item">Fiction</p>
                                        <a class="dropdown-item" href="#">Action & Adventure</a>
                                        <a class="dropdown-item" href="#">Classics</a>
                                        <a class="dropdown-item" href="#">Crime & Thriller</a>
                                        <a class="dropdown-item" href="#">Fantasy</a>
                                        <a class="dropdown-item" href="#">Graphic Novels & Manga</a>
                                        <a class="dropdown-item" href="#">Hisotrical Fiction</a>
                                        <a class="dropdown-item" href="#">Horror</a>
                                        <a class="dropdown-item" href="#">Philosophy</a>
                                        <a class="dropdown-item" href="#">Poetry</a>
                                        <a class="dropdown-item" href="#">Romance</a>
                                        <a class="dropdown-item" href="#">Sci-Fi</a>
                                        <p class="dropdown-item">Non-Fiction</p>
                                        <a class="dropdown-item" href="#">Art, Fashion & Photography</a>
                                        <a class="dropdown-item" href="#">Biography</a>
                                        <a class="dropdown-item" href="#">Business, Finance & Law</a>
                                        <a class="dropdown-item" href="#">Computing & It</a>
                                        <a class="dropdown-item" href="#">Food & Drink</a>
                                        <a class="dropdown-item" href="#">History</a>
                                        <a class="dropdown-item" href="#">Languages</a>
                                        <a class="dropdown-item" href="#">Health, Wellbeing & Self-Help</a>
                                        <a class="dropdown-item" href="#">Politics, Society & Culture</a>
                                        <a class="dropdown-item" href="#">Science, Technology & Medicine</a>
                                        <a class="dropdown-item" href="#">Spirituality & Religion</a>
                                        <a class="dropdown-item" href="#">Travel</a>
                                        <p class="dropdown-item">Children's</p>
                                        <a class="dropdown-item" href="#">Baby & Pre-school</a>
                                        <a class="dropdown-item" href="#">Ages 5-8</a>
                                        <a class="dropdown-item" href="#">Ages 9-12</a>
                                        <a class="dropdown-item" href="#">Teens & Young Adults</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-colors" asp-area="" asp-controller="ShoppingCart" asp-action="Index">CART</a>
                        </li>
                        <li>
                            @{
                                await Html.RenderPartialAsync("_LoginPartial", "Identity");
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MvcBook - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
