<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcBook.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <!--font awesome-->
    <script src="https://kit.fontawesome.com/2307716659.js" crossorigin="anonymous"></script>
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MvcBook</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link nav-colors" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown show large-dropdown">
                                <a class="nav-link dropdown-toggle nav-colors" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Books" asp-action="Index">Books</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <div class="container-dropdown">
                                        <a class="dropdown-item" asp-controller="Books" asp-action="Index">All</a>

                                        <a class="dropdown-item" href="Books/#Fiction"><b>Fiction</b></a>
                                        <a class="dropdown-item" href="Books/#Action & Adventure">Action & Adventure</a>
                                        <a class="dropdown-item" href="Books/#Classics">Classics</a>
                                        <a class="dropdown-item" href="Books/#Crime & Thriller">Crime & Thriller</a>
                                        <a class="dropdown-item" href="Books/#Fantasy">Fantasy</a>
                                        <a class="dropdown-item" href="Books/#Graphic Novels & Manga">Graphic Novels & Manga</a>
                                        <a class="dropdown-item" href="Books/#Hisotrical Fiction">Hisotrical Fiction</a>
                                        <a class="dropdown-item" href="Books/#Horror">Horror</a>
                                        <a class="dropdown-item" href="Books/#Philosophy">Philosophy</a>
                                        <a class="dropdown-item" href="Books/#Poetry">Poetry</a>
                                        <a class="dropdown-item" href="Books/#Romance">Romance</a>
                                        <a class="dropdown-item" href="Books/#Sci-Fi">Sci-Fi</a>
                                        <a class="dropdown-item" href="Books/#Non-Fiction"><b>Non-Fiction</b></a>
                                        <a class="dropdown-item" href="Books/#Art, Fashion & Photography">Art, Fashion & Photography</a>
                                        <a class="dropdown-item" href="Books/#Biography">Biography</a>
                                        <a class="dropdown-item" href="Books/#Business, Finance & Law">Business, Finance & Law</a>
                                        <a class="dropdown-item" href="Books/#Computing & It">Computing & It</a>
                                        <a class="dropdown-item" href="Books/#Food & Drink">Food & Drink</a>
                                        <a class="dropdown-item" href="Books/#History">History</a>
                                        <a class="dropdown-item" href="Books/#Languages">Languages</a>
                                        <a class="dropdown-item" href="Books/#Health, Wellbeing & Self-Help">Health, Wellbeing & Self-Help</a>
                                        <a class="dropdown-item" href="Books/#Politics, Society & Culture">Politics, Society & Culture</a>
                                        <a class="dropdown-item" href="Books/#Science, Technology & Medicine">Science, Technology & Medicine</a>
                                        <a class="dropdown-item" href="Books/#Spirituality & Religion">Spirituality & Religion</a>
                                        <a class="dropdown-item" href="Books/#Travel">Travel</a>
                                        <a class="dropdown-item" href="Books/#Children's Books"><b>Children's Books</b></a>
                                        <a class="dropdown-item" href="Books/#Baby & Pre-school">Baby & Pre-school</a>
                                        <a class="dropdown-item" href="Books/#Ages 5-8">Ages 5-8</a>
                                        <a class="dropdown-item" href="Books/#Ages 9-12">Ages 9-12</a>
                                        <a class="dropdown-item" href="Books/#Teens & Young Adults">Teens & Young Adults</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-colors" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Cart</a>
                        </li>
 
                        <li>
                            @{
                                await Html.RenderPartialAsync("_LoginPartial", "Identity");
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MvcBook </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
