* {
    font-family: 'Roboto', sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

footer {
    margin-top: 5% !important;
    text-align: center;
    z-index: -100;
}

/* navbar */
.navbar {
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    padding: 1% !important;
    background-color: #1A365D !important;
    margin: 0 !important;
}
.navbar-brand {
    color: white !important;
    font-weight: 300;
}

.nav-item {
    margin: 0 1.5em !important;
    font-size: 1em;
}

.nav-colors {
    color: white !important;
    font-weight: 400;
}

    .nav-colors:hover {
        color: #D3D3D3 !important;
    }

.inner-image {
    transition: transform 0.3s ease-in-out;
}
    .inner_image:hover {
        transform: scale(1.05);
    }

/* book nav-item dropdown */
.dropdown-menu {
    width: auto;
    height: auto;
}
.container-dropdown {
    width: 100%;
    column-count: 3;
    column-gap: 5rem;
    padding: 1em !important;
}
.dropdown-item {
    white-space: nowrap;
    display: block; /* block-level to take up full width of parent and start on new line*/
    break-inside: avoid; /* no breaking item's across columns */
    font-weight: 200;
    padding: 0.5em !important;
}
p.dropdown-item {
    font-size: 1em !important;
    color: black !important;
    font-weight: 400;
    padding: 4% 0 0 0 !important;
}
a.dropdown-item {
    color: #1A365D !important;
    font-size: 0.8em;
    font-weight: 400;
}
.dropdown:hover .dropdown-menu {
    display: block; /* default (dropdown-menu) = none in bs, so now displays dropdown-menu when dropdown is hovered*/
}

.book-headers {
    font-size: 1em !important;
}
/* Home Index */

.home-page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

.home-page-container .row {
    flex-basis: 100%;
    align-items: center;
}

.welcome-title {
    font-family: 'Playfair Display', serif;
    color: black;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    font-size: 4em;
    font-weight: 600;
}

.image-home-container {
    position: relative;
    min-height: 50vh;
    width: 100vw;
}

    .image-home-container::after {
        content: "";
        background-image: url("../lib/images/library.jpg");
        background-size: cover;
        opacity: 0.65;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

.overlay-container {
    margin-top: 3% !important;
}

.search-title {
    font-family: 'Playfair Display', serif;
    color: #1A365D;
    font-size: 1em;
    color: black;
    font-style: italic;
}

    .search-title input {
        padding: 0.3em !important;
    }

.search-bar {
    width: 20vw;
}


.book-index {
    margin: 3% 0 5% 10% !important;
}

.home-titles {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 2em;
    padding: 3% 0 !important;
    color:#1A365D;
}

    /* scrollbar */

.container-flex {
    display: flex;
    flex-direction: row;
    gap: 2em;
    overflow-x: scroll;
    overflow-y: hidden; /* No vertical scrollbar*/
    -ms-overflow-style: none; /* Internet explorer and edge */
    scrollbar-width: none; /* Firefox */
}

    .container-flex::-webkit-scrollbar {
        display: none; /* Default scroll hidden to show html arrows*/
    }

.scroll-container {
    position: relative; /* Context for child positions */
    width: 80vw;
}

.scroll-btn {
    position: absolute;
    top: 35%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Semi-transparent white border */
    border-radius: 50%; /* Make the button circular */
    padding: 0.5em; 
    width: 40px; /* Set width and height for a uniform circle */
    height: 40px;
    display: flex; /* Center the arrow inside the button */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    margin: 0;
    transition: background-color 0.3s, border-color 0.3s; /* Transition on hover */
}

    .scroll-btn:hover {
        background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
        border-color: rgba(255, 255, 255, 0.8); /* More visible border on hover */
    }

    .scroll-btn::before {
        /* Create an arrow using the content property */
        content: "⮞";
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        transform: rotate(-90deg);
    }

    .scroll-btn.left {
        left: -5%;
    }

        .scroll-btn.left::before {
            content: "⮜"; /* Change the arrow direction for the left button */
            color: #fff;
            font-size: 1rem;
            font-weight: bold;
        }

    .scroll-btn.right {
        right: -5%;
        content: "⮞";
    }


    /* books in scroll on homepage */

.inner-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em ;
}

.image-text-container {
    position: relative;
    width: 100%;
}

.inner-image {
    height: 300px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.inner-item {
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-text-container:hover .inner-image {
    opacity: 0.3;
}

.image-text-container:hover .middle {
    opacity: 1;
}

.middle-text {
    background-color: #1A365D;
    color: white;
    font-size: 15px;
    padding: 0.4em !important;
    border: 1px solid #1A365D;
    text-decoration: none;
}

    .middle-text:hover {
        background-color: #8C9AAE;
        border: 1px solid #8C9AAE;
        color: white;
    }

.home-book-titles {

    text-align:center;
}

/* ShoppingCart Index */

.shopping-cart-page {
    margin: 5em 5em 2em 5em !important;
    display: flex;
    min-height: 63vh;
    flex-direction: column;
}

.inner-details-title {
    font-family: 'Playfair Display', serif;
}


.review-basket-flex {
    display: flex;
    flex-direction: column;
    gap: 3em;
    font-size: 1em;
    margin-top: 2em !important;
}

.sc-flex {
    flex: 1 0 auto;
}

.basket-row {
    display: flex;
    flex-direction: row;
    gap: 3.5em;
}

.basket-col {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.basket-img {
    width: 120px;
}

.first-col {
    flex-basis: 30%;
}

.second-col {
    flex-basis: 20%;
}

.delivery-end-flex {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 3em !important;
    font-weight: bold;
}

.item-buttons {
    background-color: #0d6efd;
    text-decoration: none;
    color: white;
    padding: 0.3em 0.7em !important;
    border-radius: 5px;
    font-weight: normal;
}
    
    .item-buttons:hover {
        color: black;
    }

/* ShoppingCart Checkout */

.delivery-container-flex-col {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.delivery-row {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.delivery-form {
    padding: 2em !important;
}

.delivery-form .form-group {
    width: 25%;
}

/* Payment ConfirmOrder */

.section-head {
    margin-top: 2em !important;
    text-align: center;
    width: 73vw;
}

.flex-col-email {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    width: 100vw;
    margin-bottom: 5% !important;
    gap: 3em;
}

.email-titles {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
}

.inner-info {
    width: 100%;
    padding: 2em !important;
}

.row-section {
    margin-bottom: 2em !important;
}

.email-section-order {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    border: 1px solid black;
    gap: 0.5em;
    line-height: 2;
    width: 60vw;
}

.email-section-delivery {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 2em !important;
    align-items: center !important;
    border: 1px solid black;
    line-height: 2;
    width: 60vw;
    text-align: center;
}

.complete-payment {
    width: 20vw;
    margin-top: 3% !important;
}

/* Payment ExecutePayment Success */

.email-content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    gap: 3em;
}

/* Books Index */

.genre-page {
    width: 100vw;
}

.genre-page-titles {
    display: flex;
    flex-direction: column;
    gap:0.8em;
    align-items: center;
}

.search-genre {
    font-family: 'Playfair Display', serif;
    color: #1A365D;
    font-size: 90%;
    color: black;
    font-style: italic;
}

    .search-title input {
        padding: 0.2em !important;
    }

.search-bar-genre {
    width: 20vw;
}
.genre-title {
    margin-top: 1.5% !important;
}

.genre-book-titles {
    font-weight: bold;
    padding: 2% 0;
}

.genre-container-flex {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
    margin: 3em 0 !important; 
}

.genre-container-col {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh !important;
    gap: 0.5em;
    justify-content: flex-start;
    align-items: center;
}

.genre-image {
    max-height: 40vh;
}

.genre-detail {
    width: 15vw;
    text-align:center;
}

.detail-btn {
    border: 1px solid #1A365D;
    color: #1A365D;
    text-decoration: none;
    padding: 0.5em !important;
}

    .detail-btn:hover {
        opacity: 0.7;
        text-decoration: none;
        color: black;
    }

.cart-btn {
    background-color: #1A365D;
    color: white;
    text-decoration: none;
    padding: 0.5em !important;
}
    .cart-btn:hover {
        opacity: 0.7;
        text-decoration: none;
        color: white;
    }

/* Books Details */

.details-page {
    margin: 5em 5em 2em 5em !important;
}

.details-flex {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.small-details-flex {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.small-details-col {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.small-details-row {
    display: flex;
    flex-direction: row;
    gap: 5%;
}


.genre-margin {
    margin-bottom: 2%;
}


.detail-image {
    height: 300px;
}

.detail-author {
    font-size: 1.5em;
    font-style: italic;
    margin-top: 1em;
}

.details-text {
    font-size: 1em;
}

.comment-flex {
    margin: 3% 0;
}

.rate-header {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    margin-bottom: 2em !important;
}

.comments-flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 3% !important;
    border: 1px solid black;
    border-radius: 10px;
    width: 40vw;
}

.comments-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em !important;
}

.part1 {
    flex-basis: 10%;
    padding: 0.5em;
    padding: 0.5em !important;
}

.part2 {
    flex-basis: 100%;
    padding: 0.5em !important;
    font-style: italic;
}

/* Login */

.login-col {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 5em 5em 2em 5em !important;
    width: 40%;
}

    .login-col .form-label {
        padding: 2% !important;
    }

    .login-col .form-control {
        padding: 2% !important;
        padding-top: 5% !important;
    }

.login-btn {
    margin-bottom: 2em !important;
}

/* Books Search */

.books-search-page {
    margin: 5em 5em 2em 5em !important;
    display: flex;
    min-height: 63vh;
    flex-direction: column;
}

.search-table {
    margin: 3em 0 !important;
    flex: 1 0 auto;
}

.search-row {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-bottom: 5% !important;
    padding: 2.5em 0 0 0 !important;
    border-top: 1px solid #A9A9A9;
}

.search-img {
    max-height: 30vh;
}

.search-book-title {

    font-weight: bold;
    color:black;
}