* {
    font-family: 'Roboto', sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

/* navbar */
.navbar {
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    padding: 1% !important;
    background-color: #1A365D !important;
    margin: 0 !important;
}
.navbar-brand {
    color: white !important;
    font-weight: 300;
}

.nav-item {
    margin: 0 1.5em !important;
    font-size: 0.8em;
}

.nav-colors {
    color: white !important;
    font-weight: 400;
}

    .nav-colors:hover {
        color: black !important;
    }

.inner-image {
    transition: transform 0.3s ease-in-out;
}
    .inner_image:hover {
        transform: scale(1.05);
    }
/* book nav-item dropdown */
.dropdown-menu {
    width: auto;
    height: auto;
}
.container-dropdown {
    width: 100%;
    column-count: 3;
    column-gap: 5rem;
    padding: 1em !important;
}
.dropdown-item {
    white-space: nowrap;
    display: block; /* block-level to take up full width of parent and start on new line*/
    break-inside: avoid; /* no breaking item's across columns */
    font-weight: 300;
    padding: 0.5em !important;
}
p.dropdown-item {
    font-size: 1em !important;
    color: black !important;
    font-weight: 400;
    padding: 4% 0 0 0 !important;
}
a.dropdown-item {
    color: #1A365D !important;
    font-size: 0.8em;
    font-weight: 400;
}
.dropdown:hover .dropdown-menu {
    display: block; /* default (dropdown-menu) = none in bs, so now displays dropdown-menu when dropdown is hovered*/
}

/* homepage */
.welcome-title {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 3.5em;
    font-weight: 600;
}
.sub-title {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    color: #1A365D;
}

.search-title {
    font-family: 'Playfair Display', serif;
    color: #1A365D;
    font-size: 1.3em;
    margin-left: 10%;
    color: white;
    font-style: italic;
    width: 100%;
}


.search-bar::placeholder {
    padding: 5px;
}
.search-bar{
    width: 20vw;
}
.home-titles {
    font-family: 'Playfair Display', serif;
    margin: 2% 0;
    font-style: italic;
    font-size: 2em;
    padding: 3% !important;
}
.container-flex {
    display: flex;
    flex-direction: row;
    gap: 2em;
    overflow-x: scroll;
    overflow-y: hidden; /* no vertical scrollbar*/
    -ms-overflow-style: none; /* Internet explorer and edge */
    scrollbar-width: none; /* firefox */
}
    .container-flex::-webkit-scrollbar {
        display: none; /* default scroll hidden to show html arrows*/
    }

.inner-flex{
    display: flex;
    flex-direction: column;
}

.image-text-container {
    position: relative;
    width: 100%;
}

.inner-image {
    height: 300px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-text-container:hover .inner-image {
    opacity: 0.3;
}

.image-text-container:hover .middle {
    opacity: 1;
}

.middle-text {
    background-color: #1A365D;
    color: white;
    font-size: 16px;
    padding: 0.5em 0.2em;
    border: 1px solid #1A365D;
    border-radius: 15px;
    text-decoration: none;
}
    .middle-text:hover {
        background-color: #8C9AAE;
        border: 1px solid #8C9AAE;
        color: white;
    }

.inner-item{
    align-items:flex-start;
    justify-content: center;
    flex-grow: 1;
}
.home-book-titles {
    font-weight: bold;
    padding: 2% 0;
}
.inner-item {
    margin-bottom: 0;
}

/* scrollbar */
.scroll-container {
    position: relative; /* context for child positions */
}
.scroll-btn {
    position: absolute;
    top: 35%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Semi-transparent white border */
    border-radius: 50%; /* Make the button circular */
    padding: 0.5em; /* Adjust padding */
    width: 40px; /* Set width and height for a uniform circle */
    height: 40px;
    display: flex; /* Center the arrow inside the button */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    margin: 0;
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition on hover */
}

    .scroll-btn:hover {
        background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
        border-color: rgba(255, 255, 255, 0.8); /* More visible border on hover */
    }

    .scroll-btn::before {
        /* Create an arrow using the content property */
        content: "⮞";
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        transform: rotate(-90deg);
    }

    .scroll-btn.left {
        left: -5%;
    }
        .scroll-btn.left::before {
            content: "⮜"; /* Change the arrow direction for the left button */
            color: #fff;
            font-size: 1rem;
            font-weight: bold;
        }
    .scroll-btn.right {
        right: -5%;
        content: "⮞";
    }

/* details */
.details-flex {
    display: flex;
    flex-direction: column;
}

.inner-details-title {
    font-family: 'Playfair Display', serif;
}

.detail-author {
    font-size: 1.5em;
    font-style: italic;
    margin-top: 1em;
}

.details-text {
    font-size: 1em;
}
.small-details-flex {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.small-details-col {
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.small-details-row {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.row {
    display:flex;
    flex-direction: row;
}
.comment-flex {
    margin: 3% 0;
}

.review-submit {
    background-color:#214374;
    color: white;
}

.rate-header {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
}

.detail-image {
    height: 300px;
}

.detail-image-small {
    height: 200px;
}
.genre-margin {
    margin-bottom: 2%;
}

.comments-flex {
    display: flex;
    flex-direction: column;
    margin: 3%;
    border: 1px solid black;
    border-radius: 10px;
}

.comments-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.part1 {
    flex-basis: 10%;
    padding: 0.5em;
}

.part2 {
    flex-basis: 100%;
    padding: 0.5em;
}

.item-buttons {
    background-color: #0d6efd;
    text-decoration: none;
    color: white;
    padding: 0.4em;
    border-radius: 5px;
}

.delivery-container-flex-col {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.delivery-row {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.submit-payment-btn {
    margin-top: 1.5em;
}

.review-basket-flex {
    display: flex;
    flex-direction: column;
    gap: 3em;
    font-size: 1em;
}

.basket-row {
    display: flex;
    flex-direction: row;
    gap: 3.5em;
}

.basket-col {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.basket-img {
    width: 120px;
}

.first-col {
    flex-basis: 25%;
}

.second-col {
    flex-basis: 10%;
}

.delivery-end-flex {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.flex-col-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-section-order {
    display: flex;
    flex-direction: column;
    margin: 2em;
    width: 100%;
    border: 1px solid black;
    gap: 0.5em;
    line-height: 2;
}

.email-titles{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
}

.email-content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}

.email-section-delivery {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 2em;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    line-height: 2;
}

.section-head {
    text-align: center;
}

.library-img {
    width: 100vw;
    height: 90vh;
    margin-left: 0 !important;
}

.overlay-container {
    position: relative;
}

.text-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.explore-favorites {
    position: absolute;
    left: 5%;
    bottom: 10%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
@keyframes wavy {
    0%, 100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(5px);
    }
}

.explore-favorites:hover .favourites {
    animation: wavy 1s infinite;
}

.book-index {
    margin: 5% 0 5% 5% !important;
}